@media (max-width: 600px) {
  body {
    background: linear-gradient(var(--background), var(--background-gr));
    padding: 1rem;
  }
  main {
    height: 100%;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .card {
    width: 95%;
    height: auto;
  }
  .outrun h2 {
    margin-bottom: 0;
  }
  .text {
    padding: 1.5rem;
    text-align: center;
  }
  .text p {
    text-align: center;
    margin: 2rem 0;
  }
}

@media (max-width: 780px) and (min-width: 601px) {
  body {
    background: linear-gradient(var(--background), var(--background-gr));
    padding: 1rem;
  }
  main {
    height: 100%;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  .card {
    width: 95%;
  }
  .outrun h2 {
    margin-bottom: 0;
  }
  .text {
    padding: 0;
    text-align: center;
  }
  .text p {
    text-align: center;
    margin: 1rem 0;
  }
}
