main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(var(--background), var(--background-gr));
  display: grid;
  place-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: auto;
  border-radius: 1.5rem;
}

/*CARD 1*/
.outrun {
  color: var(--text1);
  background-color: var(--background1);
}
.outrun h2 {
  color: var(--sub-title1);
  margin-bottom: 1rem;
}
.outrun h1 {
  margin-bottom: 1rem;
}

/*CARD 2*/
.david {
  color: var(--text2);
  background-color: var(--background2);
}
.david h2 {
  color: var(--sub-title2);
}
.David {
  width: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
/*CARD 3*/
.samurai {
  color: var(--text3);
  background-color: var(--background3);
}
.samurai h2 {
  color: var(--sub-title3);
}

.card img {
  width: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  margin-bottom: 1rem;
}
.text {
  padding: 1.5rem;
  text-align: center;
}
.text p {
  text-align: center;
  margin: 2rem 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  font-size: var(--font-size);
  font-family: var(--font-text);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.outrun-footer {
  background-color: var(--sub-title1);
}
.david-footer {
  background-color: var(--sub-title2);
}
.samurai-footer {
  background-color: var(--sub-title3);
}
.footer-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.david-footer-detail,
.outrun-footer-detail,
.samurai-footer-detail {
  border-right: 1px solid white;
}

.attribution {
  background-color: var(--background-gr);
  font-size: 1.1rem;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
