*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*====== COLOR ======*/
  --background: hsl(261, 89%, 7%);
  --background-gr: hsl(228, 57%, 9%);
  /* COLOR1 */
  --background1: hsl(261, 89%, 7%);
  --text1: hsl(0, 0%, 88%);
  --sub-title1: hsl(300, 100%, 50%);
  /* COLOR2 */
  --background2: hsl(228, 57%, 9%);
  --text2: hsl(0, 0%, 96%);
  --sub-title2: hsl(180, 100%, 50%);
  /* COLOR3 */
  --background3: hsl(0, 0%, 2%);
  --text3: hsl(0, 0%, 80%);
  --sub-title3: hsl(111, 100%, 54%);
  --sub-title3: hsl(18, 100%, 50%);
  /*====== FONT ======*/
  /* FONT-FAMILY */
  --font-title: "Audiowide", sans-serif;
  --font-text: "Share Tech Mono", sans-serif;
  --font-sub: "Rajdhani", sans-serif;
  /* FONT-SIZE */
  font-size: 62.5%;
  --font-size: 1.4rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 2.4rem;
}

@font-face {
  font-family: "Audiowide";
  src: url(assets/fonts/Audiowide/Audiowide-Regular.ttf);
}
@font-face {
  font-family: "Share Tech Mono";
  src: url(assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf);
}
@font-face {
  font-family: "Rajdhani";
  src: url(assets/fonts/Rajdhani/Rajdhani-Regular.ttf);
}

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(var(--background), var(--background-gr));
  display: grid;
  place-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: auto;
  border-radius: 1.5rem;
}
.outrun {
  color: var(--text1);
  background-color: var(--background1);
}
.outrun h2 {
  color: var(--sub-title1);
  margin-bottom: 1rem;
}
.outrun h1 {
  margin-bottom: 1rem;
}

.david {
  color: var(--text2);
  background-color: var(--background2);
}
.david h2 {
  color: var(--sub-title2);
}
.samurai {
  color: var(--text3);
  background-color: var(--background3);
}
.samurai h2 {
  color: var(--sub-title3);
}

.card img {
  width: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  margin-bottom: 1rem;
}
.text {
  padding: 1.5rem;
  text-align: center;
}
.text p {
  text-align: center;
  margin: 2rem 0;
}

.David {
  width: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  font-size: var(--font-size);
  font-family: var(--font-text);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.outrun-footer {
  background-color: var(--sub-title1);
}
.david-footer {
  background-color: var(--sub-title2);
}
.samurai-footer {
  background-color: var(--sub-title3);
}
.footer-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.david-footer-detail,
.outrun-footer-detail,
.samurai-footer-detail {
  border-right: 1px solid white;
}

p {
  font-size: var(--font-size);
  font-family: var(--font-text);
}
h2 {
  font-size: var(--font-size-lg);
  font-family: var(--font-sub);
}
h1 {
  font-size: var(--font-size-xl);
  font-family: var(--font-title);
}
.attribution {
  background-color: var(--background-gr);
  font-size: 1.1rem;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
